<div class="h1 text-center" style="font-family: 'Kaushan Script', cursive; margin-bottom: 525px; margin-top: 30px;">
    <div style="margin-bottom: 25px;"><b>CONTACT PAGE</b></div>
    <div style="margin-bottom: 30px;">This page was made by Alejandro Lemus Vazquez</div>
    <div style="margin-bottom: 15px;">You can contact me on the follow links:</div>
    
    <a href="https://es-la.facebook.com/"> <img src="https://cdn.icon-icons.com/icons2/555/PNG/512/facebook_icon-icons.com_53612.png" style= "width: 80px; margin-right: 20px;"/></a>
    <a href="https://www.instagram.com/"><img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Instagram_icon-icons.com_66804.png" style= "width: 80px; margin-right: 20px;"/></a>

       
        
</div>
