
    <footer id="footer" class="text-center text-lg-start bg-dark" >
      <div class="container justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C40F0F;">
          <img src="/src/img/facebook.png">
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C40F0F ;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C40F0F ;">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #C40F0F ;">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white h6" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://pokeapi.co/">PokeAPI</a>
      </div>
      <!-- Copyright -->
    </footer>
    
