<div class="text-center" style="font-family: 'Kaushan Script', cursive; margin-bottom: 200px; margin-top: 30px;">
    <div style="margin-bottom: 35px; font-size: xx-large;"><b> The features I added to the project were:</b></div>
    <div class="h4"><b>2 new page type components</b></div>
    <div class="h5">+Contact page</div>
    <div class="h5" style="margin-bottom: 30px;">+Features page</div>
    <div class="h4"><b>2 new components type components</b></div>
    <div class="h5">+Nav bar</div>
    <div class="h5" style="margin-bottom: 30px;">+Footer</div>
    <div class="h3"><b>3 new routes</b></div>
    <div class="h5">+Error 404 route</div>
    <div class="h5">+Contact route</div>
    <div class="h5" style="margin-bottom: 30px;" >+Features route</div>
    <div class="h4"><b>2 new pipes</b></div>
    <div class="h5">+Pokemon weight pipe</div>
    <div class="h5" style="margin-bottom: 30px;" >+Pokemon height pipe</div>
    <div class="h4"><b>Services</b></div>
    <div class="h5" style="margin-bottom: 30px;">+Service to get pokemon by name and get the pokemon details in poke-details component</div>
    <div class="h4" ><b>API calls added in poke-details component</b></div>
    <div class="h5">+Pokemon weight</div>
    <div class="h5">+Pokemon height</div>
    <div class="h5">+Pokemon XP</div>
    
</div>
