<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ff6500;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngall.com%2Ffr%2Fpokemon-logo-png%2Fdownload%2F106687&psig=AOvVaw035PJkZ4b_kD1EgFNS_IK_&ust=1679080554164000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNDPotGU4f0CFQAAAAAdAAAAABAI"
        alt="logo" width="40" height="20">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <a class="navbar-brand text-white h1 strong" style="font-family: 'Kaushan Script', cursive;" href="#">Poke-API</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white " style="font-family: 'Kaushan Script', cursive; font-size: x-large;" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-family: 'Kaushan Script', cursive; font-size: x-large;" href="#">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled text-white" href="#">Disabled</a>
        </li> -->
      </ul>

    </div>
  </nav>